body{
    background-image: url(images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.Head-container{
    font-family: 'Heebo', sans-serif;
    font-size: x-large;
    display: grid;
    grid-template-columns: auto auto;
}

img{
    width: 35rem;
    height:auto;
}
.Head-item1{
    grid-column-start: 1;
    grid-column-end: 6;
    margin-left: 10%;
    padding: 5% 0%;
    margin-right: 20%;
}

.Head-item2{
    grid-column-start: 6;
    grid-column-end: 12;
    margin-right: 90px;
}

.Head-item1 p{
    font-size: medium;
}

.Link-Button{
    background-image:linear-gradient(45deg,rgb(248, 206, 123),rgb(245, 186, 78),rgb(241, 162, 14));
    font-size: medium;
    text-decoration: none;
    font-weight: 700;
    padding: 6px 6px;
    border-radius: 5px;
}



